@import "tailwindcss";



:root {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-image: url("/images/noise.png");
  background-size: cover;
  height: 100%;
  margin: 0;
   /* -webkit-overflow-scrolling: touch; */
}

.masked-img {
  mask-image: url("/images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;

  /* For WebKit browsers (Chrome, Safari, Edge) */
  -webkit-mask-image: url("/images/mask-img.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 50%;
}





/* ✅ Hide scrollbar (Chrome, Safari) */
/* body::-webkit-scrollbar {
  display: none;
} */
/* body::-webkit-scrollbar {
  display: none;
} */

/* ✅ Hide scrollbar (Firefox) */
/* body {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
} */

/* body {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
} */


